@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: "#1C2833";
    --secondary-color: rgb(220, 225, 232);
    --highlight-color: "#007BDF";

    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;
    --dt-backgraund-color-container: '#85929E';
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text--color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);
}

.material-icons {
    font-size: 16px;
}

.dataTable-container {
    font-family: 'Open Sans'sans-serif;
    background-color: var(--dt-backgraund-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 500;
    
}

.dataTable-container .header-tools {
    border-bottom: solid 1px var(--dt-bg-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.dataTable-container .header-tools .search {
    width: 30%;
}

.dataTable-container .header-tools .searchInput {
    width: 100%;
    background-color: var(--dt-input-background-color);
    display: block;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: var(--dt-input-color);
}

.dataTable-container .header-tools .tools {
    width: 70%;
}

.dataTable-container .header-tools .tools ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.dataTable-container .header-tools .tools ul li {
    margin: 0 var(--dt-padding-xs);
    display: inline-block;
    align-items: baseline;
}

.dataTable-container .header-tools .tools ul li button {
    color: var(--dt-text--color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
}

.dataTable-container .dataTable {
    border-collapse: collapse;
    width: 100%;
}


table, th,
td {
    border: solid 1px black;
    width: auto;
}

th {
        background-color: #D5D8DC;
}

table{
    border-radius: 5rem;

}

.dataTable-container .dataTable,
.dataTable-container .dataTable th,
.dataTable-container .dataTable td {
    padding: var(--dt-padding) var(--dt-padding);
}

.dataTable-container .dataTable .table-checkbox {
    align-content: flex-start;
}